.App {
  text-align: center;
}
body{
  background-color: antiquewhite;
}
.upperhead{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZXdM2orPWw_0KwQgkJoa2ZepVJlYaEwVT_Q&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 200px; */
  /* border: 5px solid black; */
}